<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.dao.BankloanapplicationMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyu.domain.Bankloanapplication">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serial_id" jdbcType="VARCHAR" property="serialId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="currency_code" jdbcType="VARCHAR" property="currencyCode" />
    <result column="currency_name" jdbcType="VARCHAR" property="currencyName" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="application_formStatus" jdbcType="VARCHAR" property="applicationFormstatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, serial_id, bank_name, business_type, unit_name, currency_code, currency_name, 
    money, date, applicant, application_formStatus, status, create_by, create_by_name, 
    create_time, update_by, update_by_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bankloanapplication
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bankloanapplication
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.domain.Bankloanapplication">
    insert into bankloanapplication (id, serial_id, bank_name, 
      business_type, unit_name, currency_code, 
      currency_name, money, date, 
      applicant, application_formStatus, status, 
      create_by, create_by_name, create_time, 
      update_by, update_by_name, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{serialId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{currencyCode,jdbcType=VARCHAR}, 
      #{currencyName,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{date,jdbcType=TIMESTAMP}, 
      #{applicant,jdbcType=VARCHAR}, #{applicationFormstatus,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createBy,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateByName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.domain.Bankloanapplication">
    insert into bankloanapplication
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serialId != null">
        serial_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="currencyCode != null">
        currency_code,
      </if>
      <if test="currencyName != null">
        currency_name,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="applicant != null">
        applicant,
      </if>
      <if test="applicationFormstatus != null">
        application_formStatus,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createByName != null">
        create_by_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateByName != null">
        update_by_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serialId != null">
        #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="currencyCode != null">
        #{currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null">
        #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applicationFormstatus != null">
        #{applicationFormstatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.domain.Bankloanapplication">
    update bankloanapplication
    <set>
      <if test="serialId != null">
        serial_id = #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="currencyCode != null">
        currency_code = #{currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null">
        currency_name = #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="applicant != null">
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applicationFormstatus != null">
        application_formStatus = #{applicationFormstatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.domain.Bankloanapplication">
    update bankloanapplication
    set serial_id = #{serialId,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      currency_code = #{currencyCode,jdbcType=VARCHAR},
      currency_name = #{currencyName,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      date = #{date,jdbcType=TIMESTAMP},
      applicant = #{applicant,jdbcType=VARCHAR},
      application_formStatus = #{applicationFormstatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>